{% extends "base.html" %}

{% block content %}
 <div style="position: center">
     <h1>{{ cocktail.name }}</h1>
     <img src="/static/image/{{ cocktail.get_photo() }}" height="500" alt="Не удалось загрузить изображение" style="margin-top: 20px; margin-bottom: 50px">
     <div class="row align-items-start">
      <div class="col">
       <ul>
         {% for ingridient in cocktail.get_ingridients() %}
         <li>
             <p> {{ ingridient }}</p>
         </li>
         {% endfor %}
       </ul>
      </div>
         <div class="col">
             <ul>
                 {% for dish in cocktail.get_dishes() %}
                 <li>
                     <p> {{ dish }}</p>
                 </li>
                 {% endfor %}
             </ul>
         </div>
     </div>
     <h2>Рецепт</h2>
     <p>{{ cocktail.receipt }}</p>
     {% if cocktail.history != None %}
        <h2>История</h2>
        <p>{{ cocktail.history }}</p>
     {% endif %}
 </div>
{% endblock %}