{% extends "base.html" %}

{% block content %}
<form id="1" action="" method="post">
      <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom: 15px; position: center">
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBases" aria-expanded="false" aria-controls="collapseBases">
            Спирты
        </button>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTastes" aria-expanded="false" aria-controls="collapseTastes">
            Вкусы
        </button>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTypes" aria-expanded="false" aria-controls="collapseTypes">
            Типы
        </button>
          <input class="btn" type="submit" value="Применить теги" style="background-color: #28335b"/>
      </div>
    <div class="row row-cols-md-7 g-1" style="width: 550px">
    <div class="col">
    <div class="collapse multi-collapse"
         id="collapseBases">
        <div class="card card-body" style="width: 170px; background-color: #374785">
            {% for tag in tags_bases %}
            <p style="font-size: 15px">
            <input type="checkbox" id="{{ tag }}" name="base{{ tag.id }}" value="{{ tag.id }}" />
            <label for="{{ tag }}">{{ tag.name }}</label>
            </p>
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="col">
    <div class="collapse multi-collapse"
         id="collapseTastes">
        <div class="card card-body" style="width: 170px; background-color: #374785">
            {% for tag in tags_tastes %}
            <p style="font-size: 15px">
            <input type="checkbox" id="{{ tag }}" name="taste{{ tag.id }}" value="{{ tag.id }}" />
            <label for="{{ tag }}">{{ tag.name }}</label>
            </p>
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="col">
       <div class="collapse multi-collapse"
         id="collapseTypes">
        <div class="card card-body" style="width: 170px; background-color: #374785">
            {% for tag in tags_types %}
            <p style="font-size: 15px">
            <input type="checkbox" id="{{ tag }}" name="type{{ tag.id }}" value="{{ tag.id }}" />
            <label for="{{ tag }}">{{ tag.name }}</label>
            </p>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
    </div>

<div class="row row-cols-md-3 g-5" style="position: center">
          {% for cocktail in cocktails %}
          <div class="col">
            <div class="card" style="background-color: #24305E">
              <img src="./static/image/{{ cocktail.get_photo() }}" class="card-img-top" height="260" alt="Не удалось загрузить изображение">
              <div class="card-body" >
                <h5> <a href="cocktail/{{ cocktail.id }}" style="color:whitesmoke" class="card-title">{{ cocktail.name }}</a> </h5>
                <p class="card-text">
                  <ul>
                    {% for ingridient in cocktail.get_ingridients() %}
                    <li>
                        {% if loop.index == 4 %}
                            <div>...</div>
                        {% else %}
                            <p> {{ ingridient }}</p>
                        {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </p>
                  {% if current_user.is_admin == True %}
                  <p>
                    <a href="/edit_cocktail/{{ cocktail.id }}" class="btn">Изменить</a>
                      <p>
                    <a class="btn" href="/delete_photo/{{ cocktail.id }}">Удалить фото</a>
                    <a href="/delete_cocktail_absolutly_super_giga_micro_pablo_sure/{{ cocktail.id }}" class="btn">Удалить</a>
                  </p>
                  {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
</form>
{% endblock %}
