{% extends "base.html" %}

{% block content %}

<div class="row row-cols-md-3 g-5" style="position: center">
          {% for cocktail in cocktails %}
          <div class="col">
            <div class="card">
              <img src="/static/image/{{ cocktail.get_photo() }}" class="card-img-top" height="260" alt="Не удалось загрузить изображение">
              <div class="card-body">
                <h5> <a href="cocktail/{{ cocktail.id }}"  class="card-title">{{ cocktail.name }}</a> </h5>
                <p class="card-text">
                  <ul>
                    {% for ingridient in cocktail.get_ingridients() %}
                    <li>
                        {% if loop.index == 4 %}
                            <div>...</div>
                        {% else %}
                            <p> {{ ingridient }}</p>
                        {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </p>
                  {% if current_user.is_admin == True %}
                  <p>
                    <a href="/edit_cocktail/{{ cocktail.id }}" class="btn btn-primary">Изменить</a>
                      <input type="button" class="btn btn-danger" onclick="{{ func(cocktail.id) }}" value="Удалить фото" input>
                    <a href="/delete_cocktail_absolutly_super_giga_micro_pablo_sure/{{ cocktail.id }}" class="btn btn-danger">Удалить</a>
                  </p>
                  {% endif %}
              </div>
            </div>
              <div style="display: none">{{ cocktail.clear_photo() }}</div>
          </div>
          {% endfor %}
      </div>
{% endblock %}